<block-ui>

    <app-menu-main></app-menu-main>

    <div class="borde">
        <div class="ui-g bordes">

            <div class="ui-g-4">
                <input id="sel" [(ngModel)]="seleccionado" class="custom-file-input" type="file" accept="application/vnd.ms-excel,application/vnd.ms-excel,  application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="getTable($event)">
                <button [style.visibility]="mostrar ? 'visible' : 'hidden'" pButton type="button" (click)="subirExcel()" label="Subir"></button>
                <p-toast key="excel" position="top-center"></p-toast>
            </div>

            <div class="ui-g-4 bordes">
                <p-dropdown [options]="cities" [(ngModel)]="opcionSeleccionado2" (onChange)="fileSelect()" placeholder="EXCEL" optionLabel="nombre" [showClear]="false"></p-dropdown>
                <input [style.visibility]="showButton ? 'visible' : 'hidden'" (change)="mostrar2 = true" id="sel2" [(ngModel)]="seleccionado2" class="custom-file-input" type="file" accept="application/vnd.ms-excel,application/vnd.ms-excel,  application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    (change)="getFile($event)">
                <button *ngIf="mostrar2" pButton type="button" (click)="subirExcel2()" label="Subir"></button>

            </div>
            <div class="ui-g-2 bordes">
                <p-dropdown [options]="cities" [(ngModel)]="opcionSeleccionado" (onChange)="getTabla()" placeholder="EXCEL" optionLabel="nombre" [showClear]="false"></p-dropdown>
            </div>
            <div class="ui-g-2 bordes">
                <form [formGroup]="Data">
                    <div class="ui-inputgroup">
                        <input type="text" class="buscador" formControlName="data" pInputText placeholder="buscar">
                        <button pButton type="button" (click)="Consult()" label="buscar"></button>
                    </div>
                    <p-toast key="buscador" position="top-right"></p-toast>
                </form>
            </div>
        </div>

        <p-table [scrollable]="true" scrollHeight="250px" [columns]="cols" [value]="tabla" [paginator]="true" [rows]="100" [showCurrentPageReport]="true" currentPageReportTemplate="">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</block-ui>