<div class="ui-g">

    <div class="ui-g-12 ui-md-10"></div>
    <!-- Espacio izq-->
    <div class="ui-g-12 ui-md-2"><button pButton type="button" label="Salir" icon="pi pi-sign-out" class="ui-button-danger" (click)="salir()"></button></div>
    <div class="ui-g-12">
        <!--Espacio una fila-->
    </div>
    <div class="ui-g-12">
        <!--Espacio una fila-->
    </div>
    <div class="ui-g-12">
        <!--Espacio una fila-->
    </div>
</div>





<div class="ui-g">
    <div class="ui-g-12 ui-md-1"></div>
    <!-- Espacio izquierdo-->
    <div class="ui-g-12 ui-md-10 ui-g-nopad">

        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-card>
                        <div class="ui-lg-12">
                            <h2 style="text-align: center;margin-top: 10%;">BECAS SUBES</h2>
                        </div><button pButton type="button" icon="pi pi-check" [routerLink]="['/ModuloBecas/BecasSubes/']" label="Entrar" style="margin-left: 35%;margin-bottom: 20%"></button></p-card>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-card>
                        <div class="ui-lg-12">
                            <h2 style="text-align: center;margin-top: 10%;">LIBROS DE TITULACIÓN</h2>
                        </div><button pButton type="button" icon="pi pi-check" [routerLink]="['/ModuloBecas/LibrosTitulacion/']" label="Entrar" style="margin-left: 35%;margin-bottom: 20%"></button></p-card>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-card>
                        <div class="ui-g-12">
                            <h3 style="font-size: 19px;text-align: center;margin-top: 10%;">AFILACIÓN SEGURO SOCIAL IMSS</h3>
                        </div><button pButton type="button" icon="pi pi-check" [routerLink]="['/ModuloBecas/AfiliacionDelSeguroSocialIMMS/']" label="Entrar" style="margin-left: 35%;margin-bottom: 20%"></button></p-card>
                </div>
            </div>


        </div>
        <!--
  <div class="ui-g-12">
    Footer
  </div>-->
    </div>
</div>




<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>