<app-header></app-header>
<div class="ui-g top">

<div class="ui-g-1"></div>
<div class="ui-g-3 left">
  <p-card header="BECAS SUBES">

    <div class="ui-g">
      <div class="ui-lg-4"></div>
      <div class="ui-lg-3 topB"><button pButton type="button" icon="pi pi-check" [routerLink]="['/ModuloBecas/BecasSubes/']" label="Aceptar" ></button></div>
    </div>

      <p-footer>

    </p-footer>
  </p-card>
</div>

<div class="ui-g-3 left">
  <p-card header="LIBROS DE TITULACIÓN">

    <div class="ui-g">
      <div class="ui-lg-4"></div>
      <div class="ui-lg-3 topB"><button pButton type="button" icon="pi pi-check" label="Aceptar"></button></div>
    </div>
    <p-footer>

    </p-footer>
  </p-card>
</div>

<div class="ui-g-3 left">
  <p-card header="AFILACIÓN SEGURO SOCIAL IMSS">
    <div class="ui-g">
      <div class="ui-lg-4"></div>
      <div class="ui-lg-3"><button pButton type="button" icon="pi pi-check" label="Aceptar"></button></div>
    </div>
    <p-footer>

    </p-footer>
  </p-card>
</div>

</div>

