<app-header></app-header>

<div class="ui-fluid">
<div class="ui-lg-12">
  <div class="ui-g">
  <div class="ui-lg-4"></div>
  <div class="ui-lg-4 top">
<p-card header="Simple Card">


    <div class="ui-g">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText  style=" width:350px;" placeholder="Ejemplo@cuautla.tecnm.mx">
      </div>
    </div>





</p-card>
  </div>
  </div>
</div>
</div>
